In [68]:
import pandas as pd

In [69]:
data = pd.read_csv("tweetid_userid_keyword_sentiments_emotions_United Kingdom.csv")
data.head(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
0,1221960099591348224,1060575080856608768,wuhan,2020-01-28 00:56:05,0.512,0.553,0.386,0.390,0.394,0,NaN
1,1221964607994187786,2318820202,wuhan,2020-01-28 01:14:00,0.397,0.542,0.526,0.285,0.494,-1,F
2,1221972737465425921,295863148,wuhan,2020-01-28 01:46:18,0.408,0.539,0.514,0.238,0.478,-1,F
3,1221983792631447552,157610181,wuhan,2020-01-28 02:30:14,0.370,0.678,0.464,0.247,0.558,-1,F
4,1221988788710318081,885628806362484737,wuhan,2020-01-28 02:50:05,0.494,0.457,0.418,0.335,0.411,0,NaN

In [70]:
data.tail(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
18736630,1532330735276802051,27849438,covid,2022-06-02 11:58:11,0.619,0.335,0.321,0.470,0.336,1,H
18736631,1532330748950323201,21032131,covid,2022-06-02 11:58:14,0.395,0.426,0.464,0.202,0.395,-1,A
18736632,1532330752284696577,1106815111,covid,2022-06-02 11:58:15,0.434,0.509,0.539,0.310,0.448,-1,A
18736633,1532330928474841089,833763115732971520,covid,2022-06-02 11:58:57,0.460,0.463,0.410,0.353,0.470,-1,S
18736634,1532331179822694400,221710101,covid,2022-06-02 11:59:57,0.576,0.251,0.292,0.374,0.297,1,H

In [71]:
data.shape

(18736635, 11)

In [72]:
data_subset = data.tail(len(data)-96000)

In [73]:
data_subset = data_subset.reset_index(drop=True)

In [74]:
data_subset.tail(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
18640630,1532330735276802051,27849438,covid,2022-06-02 11:58:11,0.619,0.335,0.321,0.470,0.336,1,H
18640631,1532330748950323201,21032131,covid,2022-06-02 11:58:14,0.395,0.426,0.464,0.202,0.395,-1,A
18640632,1532330752284696577,1106815111,covid,2022-06-02 11:58:15,0.434,0.509,0.539,0.310,0.448,-1,A
18640633,1532330928474841089,833763115732971520,covid,2022-06-02 11:58:57,0.460,0.463,0.410,0.353,0.470,-1,S
18640634,1532331179822694400,221710101,covid,2022-06-02 11:59:57,0.576,0.251,0.292,0.374,0.297,1,H

In [75]:
data_subset_final = data_subset.head((1296000*4)+800000)
data_subset_final.tail(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
5983995,1310255378337345539,83881926,covid,2020-09-27 16:30:00,0.453,0.348,0.375,0.333,0.367,-1,A
5983996,1310255384830058497,1208765275878895617,covid,2020-09-27 16:30:01,0.491,0.411,0.434,0.336,0.478,0,NaN
5983997,1310255391394201605,1149959365664882688,covid,2020-09-27 16:30:03,0.438,0.372,0.443,0.246,0.377,-1,A
5983998,1310255402123251714,351669443,covid,2020-09-27 16:30:05,0.575,0.307,0.379,0.438,0.283,1,H
5983999,1310255409375125504,61737425,covid,2020-09-27 16:30:07,0.347,0.461,0.521,0.196,0.464,-1,A

In [76]:
data_subset_final = data_subset_final.reset_index(drop=True)

In [77]:
data_subset_final.head(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
0,1234289474479239168,303154079,covid,2020-03-02 01:28:37,0.380,0.516,0.454,0.207,0.458,-1,F
1,1234289531228237824,566536507,covid,2020-03-02 01:28:50,0.765,0.289,0.248,0.638,0.292,2,H
2,1234289658445664257,248819855,covid,2020-03-02 01:29:21,0.399,0.566,0.388,0.232,0.454,-1,F
3,1234289759092191232,248819855,covid,2020-03-02 01:29:45,0.380,0.612,0.411,0.218,0.460,-1,F
4,1234290038965506048,248819855,covid,2020-03-02 01:30:51,0.408,0.585,0.412,0.253,0.456,-1,F

In [78]:
data_subset_final.tail(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
5983995,1310255378337345539,83881926,covid,2020-09-27 16:30:00,0.453,0.348,0.375,0.333,0.367,-1,A
5983996,1310255384830058497,1208765275878895617,covid,2020-09-27 16:30:01,0.491,0.411,0.434,0.336,0.478,0,NaN
5983997,1310255391394201605,1149959365664882688,covid,2020-09-27 16:30:03,0.438,0.372,0.443,0.246,0.377,-1,A
5983998,1310255402123251714,351669443,covid,2020-09-27 16:30:05,0.575,0.307,0.379,0.438,0.283,1,H
5983999,1310255409375125504,61737425,covid,2020-09-27 16:30:07,0.347,0.461,0.521,0.196,0.464,-1,A

In [79]:
data_subset_final.to_csv("project_tweet_data.csv")

In [91]:
data_import = pd.read_csv("project_tweet_data.csv",index_col=0)

/Users/huayuan/opt/anaconda3/lib/python3.8/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [92]:
data_import.head(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
0,1234289474479239168,303154079,covid,2020-03-02 01:28:37,0.380,0.516,0.454,0.207,0.458,-1,F
1,1234289531228237824,566536507,covid,2020-03-02 01:28:50,0.765,0.289,0.248,0.638,0.292,2,H
2,1234289658445664257,248819855,covid,2020-03-02 01:29:21,0.399,0.566,0.388,0.232,0.454,-1,F
3,1234289759092191232,248819855,covid,2020-03-02 01:29:45,0.380,0.612,0.411,0.218,0.460,-1,F
4,1234290038965506048,248819855,covid,2020-03-02 01:30:51,0.408,0.585,0.412,0.253,0.456,-1,F

In [93]:
data_import.tail(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
5983995,1310255378337345539,83881926,covid,2020-09-27 16:30:00,0.453,0.348,0.375,0.333,0.367,-1,A
5983996,1310255384830058497,1208765275878895617,covid,2020-09-27 16:30:01,0.491,0.411,0.434,0.336,0.478,0,NaN
5983997,1310255391394201605,1149959365664882688,covid,2020-09-27 16:30:03,0.438,0.372,0.443,0.246,0.377,-1,A
5983998,1310255402123251714,351669443,covid,2020-09-27 16:30:05,0.575,0.307,0.379,0.438,0.283,1,H
5983999,1310255409375125504,61737425,covid,2020-09-27 16:30:07,0.347,0.461,0.521,0.196,0.464,-1,A